@import url('https://dl.dropboxusercontent.com/s/rp9n8djuli9dxdm/stylesheet.css');
@import url('https://dl.dropboxusercontent.com/s/6zbz3meax1kylnu/stylesheet.css');
@import url('https://dl.dropboxusercontent.com/s/7zkvm9m7yu1q7y1/stylesheet.css');



#i43-light { 
--r1: #fff;
--r2: #fafafa;
--r3: #f5f5f5;   
--r4: #f0f0f0;
--r5: #eaeaea;
--r6: #e5e5e5;
--r7: #e0e0e0;
--r8: 255,255,255,;
--d1: #000;
--d2: #222
--d3: #444;
--d4: 0,0,0,;
}

#i43-dark { 
--r1: #000;
--r2: #0a0a0a;
--r3: #010101;
--r4: #121212;
--r5: #181818;
--r6: #1f1f1f;
--r7: #252525;
--r8: 0,0,0,;
--d1: #fff;
--d2: #ccc;
--d3: #aaa;
--d4: 255,255,255,;
}

#i43-dark, #i43-light { 
--gr1: var(--x1) 0%, var(--x2) 50%, var(--x3) 100%;
--gr2: rgba(var(--mclr).5) 0%, rgba(var(--hclr).5) 50%, rgba(var(--gclr).5) 100%;
--gr6: rgba(var(--mclr).1) 0%, rgba(var(--hclr).1) 50%, rgba(var(--gclr).1) 100%;
--gr6a: rgba(var(--mclr).1) 0%, rgba(var(--gclr).1) 100%;
--gr6b: rgba(var(--hclr).1) 0%, rgba(var(--gclr).1) 100%;
--gr6c: rgba(var(--hclr).1) 0%, rgba(var(--mclr).1) 100%;
--gr7: rgba(var(--mclr).5) 0%, rgba(var(--hclr).5) 50%, rgba(var(--gclr).5) 100%;
--gr8: rgba(var(--mclr).5) 0%, rgba(var(--gclr).5) 100%;
--gr9: rgba(var(--hclr).5) 0%, rgba(var(--gclr).5) 100%;
--gr10: rgba(var(--hclr).5) 0%, rgba(var(--mclr).5) 100%;
--gr3: var(--x2) 0%, var(--x3) 100%;
--gr4: var(--x2) 0%, var(--x1) 100%;
--gr5: var(--x1) 0%, var(--x3) 100%;
--f1: 'Keyboard';
--f2: 'Kinetika';
--f3: 'Cartograph CF';
--f4: 'Font Awesome 6 Pro';
}


.letsfuck { width:384px; position: relative; margin: 40px auto 40px auto; background: var(--r1); overflow: hidden; filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 20%)); padding: 26px;  }
.letsfuck w1, .letsfuck w2 { width:100%; height: 1px; position: absolute; background: var(--d1); position: absolute; display: block; }
.letsfuck w1 { top: 25px; left: 0px; }
.letsfuck w2 { bottom: 25px; left: 0px; }
.letsfuck w3, .letsfuck w4 { width:1px; height: 100%; position: absolute; background: var(--d1); position: absolute; display: block; }
.letsfuck w3 { top: 0px; left: 25px; }
.letsfuck w4 { top: 0px; right: 25px; }
.letsfuck .jtopz { padding: 50px; height: 180px; position:relative;  }
.letsfuck .jtopz square { width: 268px; height: 160px; position: absolute; top: 50px; right: 50px; background: linear-gradient(90deg, var(--gr5)); display: block;  }
.letsfuck .jwrite { padding: 70px; font: 300 15px/160% var(--f3); color: var(--d2); border-top: 1px var(--d1) solid; text-align:justify; }
.letsfuck .jwrite .img-1 { width: 268px; height: 160px; position: absolute; top: 91px; left: 77px; display: block;  }
.letsfuck .jwrite b { font: 900 17px/100% var(--f1); background: linear-gradient(90deg, var(--gr3)) no-repeat bottom left/100% 1px; color: var(--d1); transition: all .3s ease-in-out; }
.letsfuck:hover .jwrite b { background: linear-gradient(90deg, var(--gr3)) no-repeat bottom left/100% 20px; }
.letsfuck .jwrite i { font: 400 italic 17px/100% var(--f1); background: linear-gradient(90deg, var(--gr3)) no-repeat bottom left/100% 1px; color: var(--d1); transition: all .3s ease-in-out; }
.letsfuck:hover .jwrite i { background: linear-gradient(90deg, var(--gr4)) no-repeat bottom left/100% 20px; }
.letsfuck .jwrite u { text-transform: uppercase; text-decoration: none; border-bottom: 1px var(--x2) solid; }
.letsfuck .jbtms { padding: 50px; height: 50px; border-top: 1px var(--d1) solid; }
.letsfuck .jwrite tag { display: block; width: 384px; height: 150px; position: absolute; bottom: 26px; left: 26px; font: 500 15px/150px var(--f1); text-transform: uppercase; text-align: center; }
.letsfuck .jwrite tag a { background: var(--d1); padding: 15px; color: var(--r1); transition: all .3s ease-in-out; position: relative; z-index: 1; }
.letsfuck .jwrite tag:empty:after { content: 'written for you'; font-size: 20px;  }
.letsfuck .jwrite fill { width: 268px; height: 160px; position: absolute; top: 91px; left: 77px; display: block; background: var(--d1);  }
.letsfuck .jwrite fill:after { content: ''; width: 120px; height: 120px; margin: 20px auto; display: block; background: var(--ani); }
.letsfuck .jtopz circle { width: 160px; height: 160px; position: absolute; top: 50px; right: 104px; background: linear-gradient(90deg, var(--gr5)); display: block; border-radius: 100%;  }
.letsfuck .jwrite .img-2 { width: 160px; height: 160px; position: absolute; top: 91px; left: 131px; display: block; border-radius: 100%;  }
.letsfuck .jwrite fill2 { width: 160px; height: 160px; position: absolute; top: 91px; left: 131px; display: block; background: var(--d1); border-radius: 100%;  }
.letsfuck .jwrite fill2:after { content: ''; width: 100px; height: 100px; margin: 30px auto; display: block; background: var(--ani); }
